.l-profile
    .l-profile-pic 
        img(src="public/img/fabiola.jpg")
    .l-profile-info
        .userinfo
            h1 {{user.username}}
            h2 {{user.age}}, {{user.gender}}
            h3 Gainesville, FL