.post
	background: $lightBeige
	margin: 15px
	padding: 15px
	color: $beige

	input[type="text"]
		width: 75%
		border: none
		background: none
		outline: none
		color: $beige
		font-size: 18px
		font-weight: 500

		&::-webkit-input-placeholder  /* WebKit browsers */
			color:    $beige
			border: none

		&:-moz-placeholder  /* Mozilla Firefox 4 to 18 */
			color:    $beige
			border: none

		&::-moz-placeholder  /* Mozilla Firefox 19+ */
			color:    $beige
			border: none

		&:-ms-input-placeholder  /* Internet Explorer 10+ */
			color:    $beige
			border: none

	textarea 
		width: 100%
		margin-top: 20px
		background: none
		color: $beige
		outline: none
		border: none
		resize: none
		&::-webkit-input-placeholder  /* WebKit browsers */
			color:    $beige
			border: none

		&:-moz-placeholder  /* Mozilla Firefox 4 to 18 */
			color:    $beige
			border: none

		&::-moz-placeholder  /* Mozilla Firefox 19+ */
			color:    $beige
			border: none

		&:-ms-input-placeholder  /* Internet Explorer 10+ */
			color:    $beige
			border: none

	.post-options
		i
			font-size: 18px
			opacity: 0.5
			cursor: pointer
			transition: opacity 0.3s linear

			&:hover
				opacity: 1

			&:last-child
				padding-left: 10px