html
  font-family: $base-font-family
  font-size: $base-font-size
  line-height: $base-line-height
  overflow: hidden

  

body
  @extend .clearfix
  width 100%
  min-width: 960px

a
  text-decoration: none

a:hover
  text-decoration: underline

p
  margin: 0
  margin-bottom: 16px

.pull-left
  float: left

.pull-right
  float: right

.hide
  display: none

@font-face 
  font-family: Mission
  src: url("../fonts/Mission-Script.otf")