//Shield Command CSS - Variables
// Jordan Fine - TapShield
// In this file, include all the variables that will be reused throughout the app


// Global values
// --------------------------------------------------

// Grid system
// -------------------------
$column-width = 60px
$gutter-width = 20px
$columns      = 12

// Grays and neutrals
// -------------------------
$white 			=	#FFFFFF
$black			=	#000000


// Accent colors
// -------------------------
$orange 		=	#cc6622
$blue 		=	#2e2e33
$gray 			= 	#93998a
$beige 			= 	#e6c994
$lightBeige 	= 	#fff4bc






// Typography
// -------------------------
$sans-font-family  = "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font-family = Georgia, "Times New Roman", Times, serif;
$mono-font-family  = Monaco, Menlo, Consolas, "Courier New", monospace;

$base-font-family  = $sans-font-family;
$alt-font-family   = $serif-font-family;
$base-font-size    = 16px

$base-line-height        = 22px
/* change these to pixels later? */
$headings-line-height    = 1.1
$subheadings-line-height = 1.4
$paragraph-line-height   = 1.6

$headings-font-weight    = 500
$subheadings-font-weight = 300

$base-spacing-unit = $base-line-height

$headings-color  = $gray

$h1-size = 36px
$h2-size = 30px
$h3-size = 24px
$h4-size = 20px
$h5-size = 16px
$h6-size = 14px

// Buttons
// -------------------------
$base-button-font-size    = 12px





// Component sizing
// -------------------------
$font-size-large     =     $base-font-size * 1.25
$font-size-small     =     $base-font-size * 0.85
$font-size-mini      =     $base-font-size * 0.75

$padding-large       =     11px 19px
$padding-small       =     2px 10px
$padding-mini        =     0 6px

$base-border-radius  =     3px
$border-radius-large =     6px
$border-radius-small =     3px

$base-width		=	272px

// Header Variables
// -------------------------
$header-height	=	60px

